* {
  margin: 0%;
  padding: 0%;
}

body {
  color: #e0e0e0;
  background-color: #151518;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#left {
  width: 23vw;
  height: 100vh;
  border: 1px solid #686878;
}

#left #left-head {
  height: 9vh;
  padding-top: 10px;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#left #left-head .dropdown button {
  background-color: transparent;
  border: none;
  color: #e0e0e0;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#left #left-head .esc-btn button {
  margin: 5px 10px;
  padding: 3px;
  color: #ccc3c3;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
  border-color: #4d4d48;
}

#left #left-head .esc-btn button:hover {
  color: #151518;
}

#left .input-box {
  height: 5vh;
  width: 19vw;
  margin: 10px auto;
  background-color: #4d4d48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#left .input-box input {
  background-color: transparent;
  width: 88%;
  margin: 5px 1px;
  border: none;
}

#left .input-box input::-webkit-input-placeholder {
  color: #e0e0e0;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#left .input-box input:-ms-input-placeholder {
  color: #e0e0e0;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#left .input-box input::-ms-input-placeholder {
  color: #e0e0e0;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#left .input-box input::placeholder {
  color: #e0e0e0;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#left .input-box .input-submit {
  height: 73%;
  width: 12%;
  margin: 4px;
  background-color: black;
}

#left .input-box .input-submit i {
  font-size: 13px;
  -webkit-transform: translate(8px, -3px);
          transform: translate(8px, -3px);
}

#left #users {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#left #users .user {
  height: 62px;
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 1px solid #4d4d48;
}

#left #users .user .user-img img {
  height: 35px;
  width: 35px;
  margin: 5px 15px;
  border-radius: 50%;
}

#left #users .user .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#left #users .user .user-info .user-name {
  text-transform: capitalize;
  color: #e0e0e0;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#left #users .user .user-info .msg {
  margin-top: -14px;
  color: #9e9e9e;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#right {
  width: 77vw;
  height: 100vh;
}

#right #right-head {
  height: 9vh;
  padding-top: 10px;
  border-bottom: 1px solid #686878;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#right #right-head #sign-up {
  margin: 5px 20px;
  color: #e0e0e0;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#right #right-head #room-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
}

#right #right-head #room-buttons button {
  margin: 1px 10px 8px 10px;
  padding: 4px;
  color: #ccc3c3;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
  border-color: #4d4d48;
}

#right #right-head #room-buttons button:hover {
  color: #151518;
}

#right #right-head #room-buttons i {
  color: #9e9e9e;
  margin: 8px 10px;
}

#right .chatbot-container {
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#right .chatbot-container .chat-grp {
  height: 55px;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#right .chatbot-container .chat-grp .user-img img {
  height: 35px;
  width: 35px;
  margin: 5px 15px;
  border-radius: 50%;
}

#right .chatbot-container .chat-grp .user-info {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#right .chatbot-container .chat-grp .user-info .user-name {
  text-transform: capitalize;
  color: #e0e0e0;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#right .chatbot-container .chat-grp .user-info .msg {
  margin-top: -14px;
  line-height: 15px;
  color: #9e9e9e;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#right .chatbot-container .chat-grp .user-info .msg .newuser {
  color: #3497e5;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
}
/*# sourceMappingURL=chat-screen.css.map */