
// operators
// variables
// nesting
// mixins
// parameters

$white-color: #e0e0e0;
$grey-color: #9e9e9e;
$light-color: #4d4d48;
$bg-color: #151518;
$border-color: #686878;
$username-color: #3497e5;

@mixin text-prop($color, $font){
    color: $color;
    font-size: $font;
    letter-spacing: 1px;
    font-family: sans-serif;
}
@mixin flex-prop($align, $direction){
    display: flex;
    flex-direction: $direction;
    justify-content: $align;
    
}
@mixin head-prop($border){
    height: 9vh;
    padding-top: 10px;
    border-bottom:$border;
}
@mixin outline-btn($margin,$padding,$color){
    &:hover{
        color: $bg-color;
    }
    margin: $margin;
    padding: $padding;
    @include text-prop($color, 12px);
    border-color: $light-color;
}
@mixin img-prop($height,$width,$margin){
    height: $height;
    width: $width;
    margin: $margin;
    border-radius: 50%;
}
@mixin hover-prop{
    &:hover{
        background-color: $light-color;
    }
}
 
*{
    margin: 0%;
    padding: 0%;
}

body{
    color: $white-color;
    background-color: $bg-color; 
    @include flex-prop(flex-start,row);

    // left section of chat screen
    #left{
        width: 23vw;
        height: 100vh;
        border: 1px solid $border-color;

        #left-head{
            @include head-prop(none);
            @include flex-prop(space-between,row);

            .dropdown{
                button{
                    background-color: transparent;
                    border: none;
                    @include text-prop($white-color, 14px); 
                }
            } 
            .esc-btn{
                button{
                    @include outline-btn(5px 10px, 3px, #ccc3c3);
                } 
            }
            
            
        }

        // search box
        .input-box{
            height: 5vh;
            width: 19vw;
            margin: 10px auto;
            background-color: $light-color;
            @include flex-prop(flex-start,row);
        
            input{
                background-color: transparent;
                width: 88%;
                margin:5px 1px;
                border: none;
                &::placeholder{
                  @include text-prop($white-color,13px);
                }
            }

            .input-submit{
                height: 73%;
                width: 12%;
                margin: 4px;
                background-color: black;
                i{
                    font-size: 13px;
                    transform: translate(8px,-3px);
                }
            }
        }

        // user chat column
        #users{
            padding-top: 20px;
            @include flex-prop(center,column);
            .user{
                height: 62px;
                padding-top: 8px;
                @include flex-prop(flex-start,row);
                @include hover-prop;
                border-top: 1px solid $light-color;
                .user-img{
                    img{
                       @include img-prop(30px,30px,5px 10px);
                    }
                }
                .user-info{
                    @include flex-prop(center,column);
                    .user-name{
                        text-transform: capitalize;
                        @include text-prop($white-color,13px);
                    }
                    .msg{
                        margin-top: -14px;
                        @include text-prop($grey-color,12px);
                    }
                }
            }
        }
        
    }

    // right section of chat screen
    #right{
        width: 77vw;
        height: 100vh;

        #right-head{
            @include head-prop(1px solid $border-color);
            @include flex-prop(space-between,row);
            
            #sign-up{
            margin:5px 20px;
            @include text-prop($white-color, 14px);
            }

            #room-buttons{
                @include flex-prop(center,row);
                margin-right: 20px;
                button{
                    @include outline-btn(1px 10px 8px 10px,4px, #ccc3c3);
                }
                .grp-users{
                    margin: 0px 10px;
                    img{
                        @include img-prop(25px,25px ,5px -7px);
                    }
                }
                i{
                    color: $grey-color;
                    margin: 8px 10px;
                }
            }
        }

        // chat bot container
        .chatbot-container{
            margin-top: 9px;
            @include flex-prop(flex-start,column);

            .chat-msg{
                height: 55px;
                padding-top: 5px;
                padding-right: 10px;
                @include flex-prop(flex-start,row);
                @include hover-prop;
                .user-img img{
                    @include img-prop(35px, 35px,5px 15px);
                }
                .user-info{
                    margin-top: 5px;
                    @include flex-prop(center,column);
                    .user-name{
                        text-transform: capitalize;
                        @include text-prop($white-color,13px);
                    }
                    .msg{
                        margin-top: -14px;
                        line-height: 15px;
                        @include text-prop($grey-color,12px);
                        .newuser{
                            @include text-prop($username-color,12px);
                        }
                    }
                }
            }

            .new-msg{
                border-top: 1px solid maroon;
                span{
                    display: inline-block;
                    border: 1px solid maroon;
                    transform: translate(800%, -70%);
                    z-index: 2;
                    padding: 1px 10px;
                    background-color: $bg-color;
                    @include text-prop($white-color,11px);
                }
                margin-bottom: -20px;
            }

            .type-msg{
                width: 90%;
                margin: 10px auto;
                padding: 3px 6px;
                border: 1px solid $light-color;
                @include flex-prop(flex-start,row);
                input{
                    background-color: transparent;
                    width: 80%;
                    margin:5px 1px;
                    border: none;
                    &::placeholder{
                      @include text-prop($grey-color,13px);
                    }
                }
                .icons i{
                    color: $light-color;
                    margin-right: 5px;
                }
            }
        }

    
    }

}