* {
  margin: 0%;
  padding: 0%;
}

body header {
  background-image: url("../images/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 82vh;
  width: 100vw;
}

body header nav a.navbar-brand {
  margin-left: 60px;
  font-weight: 700;
  letter-spacing: 1px;
}

body header nav .navbar-nav {
  margin: 5px auto;
}

body header nav .navbar-nav a {
  font-size: 17px !important;
  color: black;
  margin-right: 15px;
}

body .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .img-container .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .img-container .first img {
  height: 250px;
  width: 25vw;
}

body .img-container .first .clearance {
  border: 1px solid black;
}

body .img-container .clothes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .img-container .clothes img {
  height: 400px;
  width: 45vw;
}

body .img-container .clothes .summer-stock {
  height: 400px;
  width: 55vw;
}

body .popular-deals h2 {
  font-family: 'Lobster', cursive;
  letter-spacing: 0.1px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin-top: 25px;
}

body .popular-deals h2 span {
  color: grey;
}

body .popular-deals .deal-details {
  width: 85%;
  margin: 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .popular-deals .deal-details div {
  width: 20%;
  height: 400px;
  text-align: center;
}

body .popular-deals .deal-details div .img-box {
  height: 300px;
  width: 85%;
  margin: 0px auto;
}

body .popular-deals .deal-details div .img-box img {
  max-height: 300px;
  max-width: 100%;
}

body .popular-deals .deal-details div .deal-info {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .popular-deals .deal-details div .deal-info .cloth-title {
  font-family: sans-serif;
  color: 14px;
  font-size: darkgrey;
  font-weight: 600;
}

body .popular-deals .more-deals {
  width: 75%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .popular-deals .more-deals div {
  width: 30%;
  height: 200px;
  margin: 10px 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .popular-deals .more-deals div img {
  max-height: 170px;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 10px;
}

body .popular-deals .more-deals div .category {
  font-family: sans-serif;
  color: 15px;
  font-size: lightgrey;
}

body .popular-deals .more-deals div .info {
  font-family: sans-serif;
  color: 13px;
  font-size: darkgrey;
}

body .popular-deals .more-deals div .btn {
  border: 1px solid lightseagreen;
  padding: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  padding: 4px;
  font-size: 14px;
}

body .popular-deals .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
  width: 70%;
  margin: 0px auto;
  font-family: 'Lobster', cursive;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

body .popular-deals .payment div img {
  height: 250px;
  width: 300px;
  margin-top: 100px;
  margin-right: 7px;
}

body footer .mail-box {
  height: 75vh;
  width: 100vw;
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  padding-top: 65px;
}

body footer .mail-box h4, body footer .mail-box h5 {
  margin: 5px 0px;
}

body footer .mail-box div {
  margin: 10px 0px;
}

body footer .mail-box div input {
  background-color: transparent;
  border: 1px solid lightblue;
  padding: 3px 4px;
  width: 270px;
}

body footer .mail-box div button {
  background-color: aquamarine;
  font-family: sans-serif;
  color: black;
  font-size: 17px;
  width: 60px;
  padding: 3px 4px;
  border: none;
}

body footer .contact {
  background-color: #7a746b;
  height: 50vh;
  width: 100vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

body footer .contact .icons {
  margin: 40px 0 10px 0;
}

body footer .contact .icons i {
  margin: 5px;
}

body footer .contact h5 {
  margin-top: 35px;
}

body footer .contact h5 span {
  color: #cac8c8;
}
/*# sourceMappingURL=landing-page.css.map */