
*{
    margin: 0%;
    padding: 0%;
}

@mixin text-prop($size,$color){
    font-family: sans-serif;
    color: $color;
    font-size: $size;
}

@mixin flex-prop($align,$direction){
    display: flex;
    flex-direction: $direction;
    justify-content: $align;
}

@mixin dimension($height, $width){
    height: $height;
    width: $width;
} 

body{
   header{
        background-image: url('../images/bg3.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 82vh;
        width: 100vw;
        nav{
            a.navbar-brand{
                margin-left: 60px;
                font-weight: 700;
                letter-spacing: 1px;
            }
            .navbar-nav{
                margin: 5px auto;
                a{
                   font-size: 17px !important;
                   color: black;
                   margin-right: 15px;
                }
            }
        }
    }

    // clothes types
    .img-container{
        @include flex-prop(flex-start,column);
        .first{
            @include flex-prop(flex-start,row);
            img{
                @include dimension(250px,25vw);
            }
            .clearance{
                border:1px solid black;
            }
        }
        .clothes{
            @include flex-prop(flex-start,row);
            img{
                @include dimension(400px,45vw);
            }
            .summer-stock{
                @include dimension(400px,55vw);
            }
           
        }
        
    }

    // popular deals section
    .popular-deals{
        h2{
            font-family: 'Lobster', cursive;
            letter-spacing: 0.1px;
            font-family: 'Open Sans Condensed', sans-serif;
            text-transform:uppercase;
            margin-top: 25px;
            span{
                color: grey;
            }
        }
        .deal-details{
            width: 85%;
            margin: 25px auto; 
            @include flex-prop(center,row);
            div{
                width: 20%;
                height: 400px;
                // border: 1px solid black;
                text-align: center;
                .img-box{
                    @include dimension(300px,85%);
                    margin: 0px auto;
                    img{
                        max-height: 300px;
                        max-width: 100%;
                    }
                }
                .deal-info{
                    @include dimension(80px,100%);
                    @include flex-prop(flex-start,column);
                    .cloth-title{
                        @include text-prop(darkgrey,14px);
                        font-weight: 600;
                    }
                }
            }
        }

        .more-deals{
            width: 75%;
            margin: auto;
            @include flex-prop(center,row);
            div{
                width: 30%;
                height: 200px;
                margin:10px 5px;
                text-align: center;
                @include flex-prop(flex-start,column);
                img{
                    max-height: 170px;
                    width: 100%;
                    opacity: 0.9;
                    margin-bottom: 10px;
                }

                .category{
                   @include text-prop(lightgrey,15px);
                }
                .info{
                   @include text-prop(darkgrey,13px);
                }
                .btn{
                    border: 1px solid lightseagreen;
                    padding: 2px;
                    width:fit-content;
                    margin: 10px auto;
                    padding: 4px;
                    font-size: 14px;
                }
            }
        }

        .payment{
            @include flex-prop(center,row);
            @include dimension(450px,70%);
            margin: 0px auto;
            font-family: 'Lobster', cursive;
            font-family: 'Open Sans Condensed', sans-serif;
            font-family: 'Roboto Condensed', sans-serif;
            div img{
                @include dimension(250px,300px);
                margin-top: 100px;
                margin-right: 7px;
                
            }
        }
    }

    footer{
        .mail-box{
            @include dimension(75vh,100vw);
            background-image: url('../images/bg2.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            opacity: 0.9;
            color: white;
            @include flex-prop(flex-start,column);
            text-align: center;
            padding-top: 65px;

            h4,h5{
                margin: 5px 0px;
            }
            div{
                margin: 10px 0px;
                input{
                    background-color: transparent;
                    border: 1px solid lightblue;
                    padding:3px 4px; 
                    width: 270px;
                }
                button{
                    background-color: aquamarine;
                    @include text-prop(17px,black);
                    width: 60px;
                    padding: 3px 4px;
                    border: none;
                }
            }
        }

        .contact{
           background-color: #7a746b;
           @include dimension(50vh,100vw);
           text-align: center;
           @include flex-prop(center,column);
           color: white;

           .icons{
                margin: 40px 0 10px 0;
                i{
                    margin:5px;
                }

           }
           h5{
               margin-top: 35px;
               span{
                   color: #cac8c8;
               }
           }
        }
    }
}